/* Branding font faces */
@font-face {
  font-family: 'Branding';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/branding/Branding-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: italic;
  font-weight: 100;
  src: url('/assets/fonts/branding/Branding-Thin-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/branding/Branding-Semilight.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: italic;
  font-weight: 200;
  src: url('/assets/fonts/branding/Branding-Semilight-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/branding/Branding-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/branding/Branding-Light-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/branding/Branding-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/branding/Branding-Medium-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/branding/Branding-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/branding/Branding-Semibold-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/branding/Branding-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/branding/Branding-Bold-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/branding/Branding-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Branding';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/branding/Branding-Black-Italic.otf') format('opentype');
}